.button-comp {
    padding: 1rem;
    max-width: 150px;
    border-radius: 12px;
    border: none;
    background-color: hsl(213, 96%, 18%);
    color: #ffffff;
    font-weight: bold;
    align-self: end;
}

.button-comp:hover {
    color: #95FFD4;
}