@font-face { 

    font-family: "Ubuntu Bold";
    src: url(/src/assets/assets/fonts/Ubuntu-Bold.ttf);
}
.step {
    font-family: "Ubuntu Bold";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}

.step-active {
    transition: 1s;
    background-color: #fff;
    color: hsl(213, 96%, 18%);
}

